<div class="py2 post-footer">
  <img src="/images/me.jpeg" alt="Bhalendra Katiyar" class="avatar" />
  <p>
    Hi, Thanks for being here. I am the writer of this blog. 
    I belongs to computer science and 
    I work as Team Leader in a software engineering team which deals in making different kinds of web applications. 
    I likes to work with growing and revolutionary technologies and frameworks.
  </p>
  <p>
    Follow me on <a href="https://twitter.com/MisterKatiyar">Twitter</a>.
  </p>
</div>
